@import "./variables.scss";

/** Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

/** App Styles **/

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Starting position */
  }
  100% {
    transform: rotate(360deg); /* Ending position (full circle) */
  }
}

.roll {
  animation: rotate 0.3s linear infinite;
}

body {
  font-family: $font-family;
  background-color: $color-secondary-800;
  color: white;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
  color: $color-accent;
  white-space: nowrap;
  margin-top: 2rem;
}

@media (max-width: 560px) {
  body {
    overflow: hidden;
    max-width: 100%;
  }

  footer {
    text-align: center;
  }
}
