$font-family: "Manrope", sans-serif;

$color-primary: hsl(150, 100%, 66%);
$color-accent: hsl(193, 38%, 86%);

$color-secondary-400: hsl(217, 19%, 38%);
$color-secondary-600: hsl(217, 19%, 24%);
$color-secondary-800: hsl(218, 23%, 16%);

$font-weight-bold: 800;

$font-size-xl: 1.75rem;
